<div class="container">
  <!-- Lado esquerdo -->
  <div class="left-panel">
    <h2>Bem-vindo</h2>
    <p>Acesse sua conta agora</p>
    <button class="btn-login" (click)="Entrar()">Entrar</button>
  </div>

  <!-- Lado direito -->
  <div class="right-panel">
    <h3>Cria sua conta</h3>
    <form>
      <div class="form-group">
        <input type="text" placeholder="Nome" />
      </div>
      <div class="form-group">
        <input type="email" placeholder="E-mail" />
      </div>
      <div class="form-group">
        <input type="password" placeholder="Senha" />
      </div>
      <button type="submit" class="btn-register">Cadastrar</button>
    </form>
  </div>
</div>
