<div class="card">
    <h2>Listagem de Despesas</h2>

    <!-- FILTROS -->
    <div class="filtros">
        <input pInputText type="text" placeholder="Descrição" [(ngModel)]="filtro.descricao" />
        <p-calendar [(ngModel)]="filtro.dataCadastroInicial" dateFormat="dd/mm/yy" placeholder="Data Cadastro (Início)">
        </p-calendar>

        <p-calendar [(ngModel)]="filtro.dataCadastroFinal" dateFormat="dd/mm/yy" placeholder="Data Cadastro (Fim)">
        </p-calendar>

       

        <p-button label="Buscar" icon="pi pi-search" (onClick)="buscar()"></p-button>
    </div>

    <!-- TABELA -->
    <p-table [value]="despesas" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]"
        [responsiveLayout]="'scroll'" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadDespesas($event)"
        [loading]="loading" [first]="first">

        <ng-template pTemplate="header">
            <tr>
                <th>Descrição</th>
                <th>Valor (R$)</th>
                <th>Data da Despesa</th>
                <th>Tipo de Despesa</th>
                <th style="text-align: center;">Ações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-despesa>
            <tr>
                <td>{{ despesa.descricao }}</td>
                <td>{{ despesa.valorDespesa | currency:'BRL' }}</td>
                <td>{{ despesa.dataCadastro | date:'dd/MM/yyyy' }}</td>
                <td>{{ despesa.tipo }}</td>
               
                
                <td class="acoes">
                    <p-button icon="pi pi-eye" class="p-button-rounded p-button-success p-button-sm"
                        (onClick)="visualizar(despesa)"></p-button>
                    <p-button icon="pi pi-pencil" class="p-button-rounded p-button-warning p-button-sm"
                        (onClick)="editar(despesa)"></p-button>
                    <p-button icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm"
                        (onClick)="excluir(despesa)"></p-button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" class="text-center" style="text-align:center; color: #888; padding: 1rem;">
                    Nenhum dado encontrado.
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-toast></p-toast>