.app-footer {
  background-color: #3ed17f;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;   /* fixa no final da tela */
  bottom: 0;         /* na parte inferior */
  left: 0;
  width: 100%;
  font-size: 14px;
}
